.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh ;
  flex-direction: column;
  color: black;
  background-color:cadetblue
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


